/* generic form */
input[type='text'], input[type='password']{
  font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
  border: solid 1px #3D81F8;
  box-shadow: inset 0 1px 2px #94D8FD;
  border-radius: 4px;
  outline: none;
  background-color:#fff;
}
input[type='text']:focus, input[type='password']:focus{
  background-color:#D4E1F7;
}
input[type='submit'].mainSubmit{
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: 'Lucida Sans';
  background-color:#5077C0;
  border: solid 1px #3D81F8;
  box-shadow: inset 0 1px 2px #94D8FD;
  border-radius: 2px;
}

/* Login Form specific */
#loginForm input[type='text'], #loginForm input[type='password']{
  height: 30px;
  width: 250px;
  margin-top: 10px;
  font-size: 20px;
  color: #90A0BC;
  border: solid 1px #3D81F8;
  box-shadow: inset 0 1px 2px #94D8FD;
  border-radius: 4px;
  outline: none;
  background-color:#fff;
}
#loginForm input[type='text']:focus, #loginForm input[type='password']:focus{
  background-color:#D4E1F7;
}
#loginForm input[type='submit'].mainSubmit{
  margin-top: 10px;
  width: 80px;
  height: 30px;
}