<!DOCTYPE html>
<html>
<head>
<meta name="description" content="temp2" />
<meta charset=utf-8 />
<title>Lloyds Banking Group | TCS - PMO</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Sorts Mill Goudy"/>
	<link rel="stylesheet" type="text/css" href="styles/html_tags.css"/>
	<link rel="stylesheet" type="text/css" href="styles/blue_page.css"/>
	<link rel="stylesheet" type="text/css" href="styles/header_footer.css"/>
	<link rel="stylesheet" type="text/css" href="styles/blue_form.css"/>
	
	<script type="text/javascript" src="scripts/lib/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="scripts/lib/jquery-ui-1.10.2.custom.js"></script>
	<script type="text/javascript" src="scripts/index.js"></script>
	
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> -->
</head>
<body>
  <div id="header">
    <div class="h_left">
      <span class="lef">TCS Project Management Office | LBG</span>
    </div>
    <div class="h_right">
      <span class="rig">Welcome PM !!</span> 
    </div>
  </div>
  
	<div id="menu_flyer">
			
	</div>
	
  <div id="content">
    <div id="accr">
			<h3 class="topics">Section 1</h3>
			<div>
			</div>
			<h3 class="topics">Section 2</h3>
			<div>
			</div>
			<h3 class="topics">Section 3</h3>
			<div>
			</div>
			<h3 class="topics">Section 4</h3>
			<div>
			</div>
			<h3 class="topics">Section 2</h3>
			<div>
			</div>
			<h3 class="topics">Section 2</h3>
			<div>
			</div>
		</div>
  </div>
  
  <div id="footer">
    footer content here.
  </div>
</body>
</html>