<!DOCTYPE html>
<html>
<head>
<meta name="description" content="temp2" />
<meta charset=utf-8 />
<title>Lloyds Banking Group | TCS - PMO</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Sorts Mill Goudy"/>
	<link rel="stylesheet" type="text/css" href="../styles/html_tags.css"/>
	<link rel="stylesheet" type="text/css" href="../styles/blue_page.css"/>
	<link rel="stylesheet" type="text/css" href="../styles/header_footer.css"/>
	<link rel="stylesheet" type="text/css" href="../styles/blue_form.css"/>
	
	<script type="text/javascript" src="../scripts/lib/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="../scripts/lib/jquery-ui-1.10.2.custom.js"></script>
	<script type="text/javascript" src="../scripts/index.js"></script>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> -->
</head>
<body>
  <div id="header" class="displayNone">
    <div class="h_left">
      <span class="lef">TCS Project Management Office | LBG</span>
    </div>
    <div class="h_right">
      <span class="rig"></span> 
    </div>
  </div>
  
  <div id="content" class="displayNone">
    <div id="loginText">
    <h2>Login</h2>
      <p class="loginFormText">Need a Login account? <a href="#">SignUp</a> <br/> 
			Have you forgotten your password? <a href="#">Reset your password</a> now.</p> 
    </div>
    <form name="login_form" id="login_form" method="post" action="">
      <div id="loginForm">
				<input type="text" name="uname" value="username" /><br/>
				<input type="password" name="pwd" value="password" /><br/>
				<input type="submit" value="Log In" />
      </div>
    </form>
  </div>
  
  <div id="footer" class="displayNone">
    footer content here.
  </div>
</body>
</html>